@model int

<a class="nav-link" asp-action="Edit" asp-route-id="@Model"><img src="~/uploads/edit_square_24.svg" class="edit-options" /></a>
<a class="nav-link" asp-action="Details" asp-route-id="@Model"><img src="~/uploads/zoom_in_24.svg" class="edit-options" /></a>
<a class="nav-link" asp-action="Delete" asp-route-id="@Model"><img src="~/uploads/delete_forever_24.svg" class="edit-options" /></a>
