/*.comment-card {
    transition: 0.2s;
    border-radius: 12px;
}

    .comment-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }



.comment-card {
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

    .comment-card:hover {
        transform: translateY(-3px);
    }

.comment-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s;
}

.text-warning span {
    color: gold;
    font-size: 1.2rem;
}*/

.comment-card {
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

    .comment-card:hover {
        transform: translateY(-3px);
    }

.comment-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s;
}

.text-warning span {
    color: gold;
    font-size: 1.2rem;
}

/*statytyki*/

.rating-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-number {
    font-size: 1.5rem;
    font-weight: bold;
}

.star {
    font-size: 1.2rem;
}

    .star.full {
        color: gold;
    }

    .star.empty {
        color: #ddd;
    }

    .star.half {
        background: linear-gradient(90deg, gold 50%, #ddd 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }