
.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; /* pełny ekran */
    overflow: hidden;
}

.video-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.6);*/ /* <-- poziom przyciemnienia */
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #11120eba;
    /* tworzy trapez */
    clip-path: polygon( 0% 0%, /* góra lewo */
    75% 0%, /* góra prawo */
    50% 100%, /* dół prawo – krótszy */
    0% 100% /* dół lewo – krótszy */
    );
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2; /* ponad przyciemnieniem */
    color: white;
}




nav a {
    position: relative;
    display: inline-block;
    padding: 0px 0;
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

    /* Pasek - początkowo niewidoczny */
    nav a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px; /* odległość od tekstu */
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.5s ease; /* efekt wzrostu */
    }

    /* Efekt po najechaniu */
    nav a:hover {
        color: #fff;
    }

        nav a:hover::after {
            width: 100%; /* rośnie od lewej do prawej */
        }




/* Pływający kontener po prawej */
#language-selector {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%); /* start poza ekranem po prawej */
    background: #333;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.5s ease;
    z-index: 1000;
}

    /* Po aktywacji wchodzi na ekran */
    #language-selector.visible {
        transform: translateX(0) translateY(-50%);
    }

/* Styl przycisków */
.lang-btn {
    background: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

    .lang-btn:hover {
        background: #f0f0f0;
    }


.circle-foto {
    /* width: 30rem;*/ /* dowolny rozmiar */
    /*height: 30rem;*/ /* musi być taki sam jak width */
    aspect-ratio: 1 / 1; /* zawsze kwadrat */
    border-radius: 50%; /* robi koło */
    width: 100%;
    object-fit: cover; /* docięcie, żeby wypełniło równo */
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


/****************** gallery***************************/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    align-content: start;
}

    .gallery img {
        width: 100%;
        cursor: pointer;
        object-fit: cover;
        border-radius: 0px;
        transition: 0.2s;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

        .gallery img:hover {
            transform: scale(1.03);
        }

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    overflow: hidden;
}

.modal-img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90vh;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.nav:hover {
    color: #ddd;
}


@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}


html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}




/*
nowe description*/
/*.photo-masonry {
    column-count: 2; 
    column-gap: 12px;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 12px;
    border-radius: 12px;
    overflow: hidden;
}

    .masonry-item img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
    }

    .masonry-item:hover img {
        transform: scale(1.03);
    }

    .masonry-item img {
        border-radius: 12px;
    }

.photo-masonry {
    column-count: 2;
    column-fill: balance;
}

*/



.photo-masonry {
    column-count: 2;
    column-gap: 12px;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 12px;
    border-radius: 12px;
    overflow: hidden;
}

    /* standardowe zdjęcia */
    .masonry-item img {
        width: 100%;
        display: block;
        object-fit: cover;
        aspect-ratio: 4 / 3;
        transition: transform 0.3s ease;
    }

    /* 🔥 wymuszone pionowe zdjęcia */
    .masonry-item.vertical-force img {
        aspect-ratio: 3 / 4; /* pion */
        transform: scale(1.05);
    }

    /* hover */
    .masonry-item:hover img {
        transform: scale(1.08);
    }





  /*  do index*/
.card-2-border {
    border-radius: 0px 0px 0px 27px;
    border-left: 2px solid #00000075;
    border-right: 2px solid #00000000;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #00000075;
}



/*nowe card-columns wycofane w bp5 efekt masonry */

.card-columns-css {
    column-count: 3; /* liczba kolumn */
    column-gap: 60px;
}

    .card-columns-css .card {
        break-inside: avoid; /* kluczowe */
        margin-bottom: 60px;
        width: 100%;
    }

@media (max-width: 992px) {
    .card-columns-css {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .card-columns-css {
        column-count: 1;
    }
}



section {
    margin: 8em 0em 8em 0em;
}


.desc-page-textbox {
    border-radius: 12px;
    padding: 2em;
}

.desc-page-section {
/*    background-color: #e4e4e4;
    background: linear-gradient(355deg, rgba(228, 228, 228, 1) 90%, rgba(255, 255, 255, 1) 84%);
    padding: 12em;*/
}


/*tlo desc-page*/

.section-triangle {
    position: relative;
    /*background: #f2f2f2;*/ /* środek biały */
    background: #FFF;
    padding: 100px 20px;
    overflow: hidden;
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgb(228 228 228 / 39%) 66%);*/
    background: linear-gradient(356deg, rgba(255, 255, 255, 1) 84%, rgba(228, 228, 228, 1) 98%);
}

    /* GÓRNY trójkąt */
    .section-triangle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #fff; /* szary */
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    /* DOLNY trójkąt */
    .section-triangle::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #fff; /* szary */
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    }


/* tekst */
.triangle-text {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: #555;
}

    /* góra */
    .triangle-text.top {
        top: 20px;
    }