@model IEnumerable<Data.Data.HouseRentalData.Distance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Odległości</h3>
<hr />

<p>
    <a asp-action="Create">Dodaj</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="card m-2">
                <div class="card-body">
                    <span> <img src="@Url.Content("~/uploads/" + (item.Image == null ? "no_photography_24dp.svg" : item.Image.Path))" alt="Przesłany obraz" /> @Html.DisplayFor(modelItem => item.Name)</span><span class="float-right">
                        @await Html.PartialAsync("~/Views/Partial/EditDetailsMenu.cshtml", item.DistanceID)
                    </span>
                </div>
            </div>
        </div>
    }
</div>
