<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HouseNet9</title>
    <script type="importmap"></script>
@*         
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HouseNet9.styles.css" asp-append-version="true" /> 
*@
 
    
@*  <link href="~/css/bootstrap.css" rel="stylesheet" /> *@
@*  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> *@


    <link href="~/css/calendar.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
   <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
   <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />





</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HouseNet9</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* ********** Menu *********** ********** Menu *********** ********** Menu *********** ********** Menu *********** *@
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DescriptionPages" asp-action="Index">DescriptionPages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DetailedInformations" asp-action="Index">DetailedInformations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Distance" asp-action="Index">Distance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GeneralInformations" asp-action="Index">GeneralInformations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RentalClients" asp-action="Index">RentalClients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Houses" asp-action="Index">Houses</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>




                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
       @*  <main role="main" class="pb-3"> *@
            @RenderBody()
       @*  </main> *@
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2899.678461979676!2d16.516465084166974!3d43.38374679535635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDIzJzAxLjUiTiAxNsKwMzEnMTYuOCJF!5e0!3m2!1spl!2spl!4v1754076848492!5m2!1spl!2spl" style="border:0; width:100%; height:400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HouseNet9 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    


    
    
@*     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@*     
    <script src="~/libnew/jquery/dist/jquery.min.js"></script>
    <script src="~/libnew/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/newcalendar.js" asp-append-version="true"></script>
    <script src="~/js/modal.js"></script> *@


    <script src="~/libnew/jquery/dist/jquery.min.js"></script>
    <script src="~/libnew/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/newCalendar.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
